extends template
block content
    div
        | You have sent a request to change your password because you have forgotten it. 
        | If it wasn't you, don't reply to this email.
        br
        | To reset your password and set a new one, follow this link:
        div
            a(href=frontendUrl + `/password/reset/` + token) click