doctype html
html
    head
        style
            include global.css

    body
        div.header

            block content

        div.footer
            | With best regards,
            br
            | Faine-kino team
            br
            a(href=frontendUrl) Faine-kino