extends template
block content
    div
        | Welcome to the online cinema Faine-kino. <br>You have registered in the system. <br>To confirm your email, please follow the link: 
        span 
            a(href=frontendUrl + '/email/confirm/' + token) click